body {
    font-family: 'Sono', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #C2FFC7;
    color: #526E48;
    text-align: center;
    }
.dashboard-container {
    background-color: #9EDF9C;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }
h2 {
    color: #526E48;
    margin-bottom: 15px;
    }

.username {
    font-weight: bold;
    color: #62825D;
    font-size: 18px;
    margin-bottom: 20px;
    display: block;
    }

a.logout-btn {
display: inline-block;
padding: 10px 20px;
background-color: #62825D;
color: #fff;
border-radius: 4px;
text-decoration: none;
font-weight: bold;
font-size: 16px;
transition: background-color 0.3s ease;
    }
a.logout-btn:hover {
    background-color: #526E48;
    }