@import url('https://fonts.googleapis.com/css2?family=Sono:wght@700&display=swap');
body {
    font-family: 'Sono', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #FFF6E3;
    color: #526E48;
    text-align: center;
    }
.form-container {
    background-color: #BFECFF;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    color: #526E48;
    }
h2 {
    color: #FFCCEA;
    margin-bottom: 15px;
    }
input[type="text"],
select {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #CDC1FF;
    border-radius: 4px;
    background-color: #FFF6E3;
    color: #526E48;
    font-size: 14px;
    }
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #CDC1FF;
    border: none;
    border-radius: 4px;
    color: #FFF6E3;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }
input[type="submit"]:hover {
    background-color: #FFCCEA;
    }
a {
    color: #526E48;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    display: inline-block;
    }
a:hover {
    color: #FFCCEA;
    }